<!DOCTYPE html>

<html>

	<head>
		<title>FreeCodeCamp API Project: Request Header Parser microservice</title>
		<link href="./css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
	</header>

	<body>
		<h1>API Project: Request Header Parser microservice</h1>

		<h3>User Stories:</h3>
		<ol>
			<li>I can get the IP address, language and operating system for my browser.</li>
		</ol>

		<h3>Example usage:</h3>
		<ul>
			<li><a href="{{{ projectURL }}}/api/whoami/">https://cu7ious-fcc-ts-microserv.herokuapp.com/api/whoami/</a></li>
		</ul>

		<h3>Example output:</h3>
		<ul>
		<li>
			<pre>{</pre>
		  <pre>  "ipaddress": "127.0.0.1",</pre>
		  <pre>  "language":  "en-US",</pre>
		  <pre>  "software":  "Macintosh; Intel Mac OS X 10_10_1"</pre>
			<pre>}</pre>
		</li>
		</ul>
	</body>

</html>